@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Satoshi";
    src: url(../../public/fonts/Satoshi/Satoshi-Regular.otf);
}
@font-face {
    font-family: "Satoshi-Light";
    src: url(../../public/fonts/Satoshi/Satoshi-Light.otf);
}
@font-face {
    font-family: "Satoshi-Medium";
    src: url(../../public/fonts/Satoshi/Satoshi-Medium.otf);
}
@font-face {
    font-family: "Satoshi-Bold";
    src: url(../../public/fonts/Satoshi/Satoshi-Bold.otf);
}
@font-face {
    font-family: "Satoshi-Black";
    src: url(../../public/fonts/Satoshi/Satoshi-Black.otf);
}
